@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

/*------------------------Banner-----------------------*/

.banniere {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
}

.logo img {
    height: 19px;
    width: 61.09px;
    gap: 10px
}

header.banniere {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header.banniere .boutons .bouton {
    background-color: white;
    color: black;
    border: 0px;
    padding: 10px 20px;
}

header.banniere .boutons .bouton:hover {
    border-top: 2px solid #0065FC;
    padding-top: 13.5px;
}

/*--------------------------------Searchbar-------------------------------
#------------------------------------------------------------------------*/

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    width: 377px;
    height: 50px;
    border-radius: 15px;
    border: 1px;
    padding-left: 0px;
}

.locationlogo {
    height: 50px;
    width: 50px;
    border: 1px;
    border-radius: 15px 0px 0px 15px;
    align-content: center;
    padding-left: 25px;
    background-color: #f2f2f2;
}

.searchbar {
    height: 50px;
    width: 147px;
    font-weight: 700;
    color: black;
    font-weight: bold;
    align-content: center;
    background-color: white;
}

.bordureNone {
    border: none;
}

.paddingSearchbar {
    padding-left: 20px;
}

.searchbutton {
    height: 50px;
    width: 132px;
    border-radius: 0px 15px 15px 0px;
    background-color: blue;
    color: white;
    font-weight: bold;
    align-content: center;
    text-align: center;
    cursor: pointer;
}

.Rechercher .icon {
    display: none;
}

.Rechercher .texte  {
    display: inline;
}

/*----------------------------------------Media_Quary-----------------------------
#--------------------------------------------------------------------------------*/

@media screen and (max-width:768px) {
   
   .searchbutton {
    width: 20px;
    height: 20px;
    padding: 15px 16px 15px 16px;
    border-radius: 15px;
    border: 1px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
   }
   
    .Rechercher .texte {
        display: none;
    }
    .Rechercher .icon {
        display: inline;
    }
}


/*-----------------------------------------------------------Filtres-----------------------
------------------------------------------------------------------------------------------*/


.Filtres {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: left;
    width: 758px;
    height: 50px;
    gap: 15px;
}

.titrefiltres {
    width: 54px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
}


.Economique {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 173px;
    height: 50px;
    border-radius: 25px;
    border-style: solid;
    border: 10px;
    padding : 4px 19px 4px 19px;
    gap: -10px;
    border-color: rgba(217, 217, 217, 1);
    cursor: pointer;
}

.bouton_logo_1 {
    width: 22px;
    height: 22px;
    align-content: center;
    justify-content: center;
}

.bouton_texte_1 {
    width: 103px;
    height: 20px;
    align-content: center;
    justify-content: center;
    font-weight: 700;
}

.Economique:hover{
    color:black;
    background-color: #DEEBFF;
}


.Familial {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 134px;
    height: 50px;
    border-radius: 25px;
    border-style: solid;
    border: 10px;
    padding : 4px 19px 4px 19px;
    gap: 1px;
    border-color: rgba(217, 217, 217, 1);
    cursor: pointer;
}

.bouton_logo_2 {
    width: 22px;
    height: 22px;
    align-content: center;
    justify-content: center;
}

.bouton_texte_2 {
    width: 64px;
    height: 20px;
    align-content: center;
    justify-content: center;
    font-weight: 700;
}

.Familial:hover {
    color:black;
    background-color: #DEEBFF;
}

.Romantique {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 170px;
    height: 50px;
    border-radius: 25px;
    border-style: solid;
    border: 10px;
    padding : 4px 19px 4px 19px;
    gap: 1px;
    border-color: rgba(217, 217, 217, 1);
    cursor: pointer;
}

.bouton_logo_3 {
    width: 22px;
    height: 22px;
    align-content: center;
    justify-content: center;
}

.bouton_texte_3 {
    width: 100px;
    height: 20px;
    align-content: center;
    justify-content: center;
    font-weight: 700;
}

.Romantique:hover {
    color:black;
    background-color: #DEEBFF;
}

.Nos_pépites {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 167px;
    height: 50px;
    border-radius: 25px;
    border-style: solid;
    border: 10px;
    padding : 4px 19px 4px 19px;
    gap: 1px;
    border-color: rgba(217, 217, 217, 1);
    cursor: pointer;

}

.bouton_logo_4 {
    width: 22px;
    height: 22px;
    align-content: center;
    justify-content: center;
}

.bouton_texte_4 {
    width: 97px;
    height: 20px;
    align-content: center;
    justify-content: center;
    font-weight: 700;
}

.Nos_pépites:hover{
    color:black;
    background-color: #DEEBFF;
}

.infos {
    display: flex;
    align-items: center;
    width: 1340px;
    height: 24px;
    gap: 0px;
}

.info_logo {
    display: flex;
    width: 12px;
    height: 12px;
    border: 1px;
    margin: 12px;
}

.infos_nombre_de_logements {
    display: flex;
    font-size: 16px;
    font-weight: 400;
}
